{var $title = $taskList->title}

{block content}

<h1>{$taskList->title}</h1>

{snippet form}
<fieldset>
	<legend>Přidat úkol</legend>

	{form taskForm class => ajax}
	<div class="task-form">
		{control $form errors}

		{label text /} {input text size => 30, autofocus => true} {label userId /} {input userId} {input create}
	</div>
	{/form}
</fieldset>
{/snippet}

{control taskList}

{/block}